/libjluna.so
/.src/include_julia.inl
/docs/bckp.txt
/build
/.vscode
/.benchmark/results
/.idea/
/docs/doxygen
/docs/html
/docs/latex
/docs/out
/.vs/
/cmake_build_debug
/CMakeSettings.json
out/build
out/install
*.vsidx
/enc_temp_folder
/cmake-build-debug-mingw/
/cmake-build-debug/
/cmake-build-debug-event-trace/
/out/
