/libjluna.so
/.src/include_julia.inl
/docs/bckp.txt
/build
/.vscode
/.benchmark/results
/.idea/
/jluna_c_adapter.so/
/libjluna.so
/libjluna_c_adapter.so
/docs/doxygen
/docs/html
/docs/latex
/docs/out

.vs/CMake Overview
.vs/cmake.db
.vs/jluna/FileContentIndex/5d7b41a8-b56f-4ef3-94bc-f0ce8473c1ae.vsidx
.vs/jluna/FileContentIndex/a173fe9d-19f0-4763-8631-a2ea6d07627a.vsidx
.vs/jluna/FileContentIndex/0f6ac875-49a7-45f6-b4ff-7516fb89aaf3.vsidx
.vs/jluna/FileContentIndex/d7b5c4d1-deaf-48c2-b06d-a126c9d1eefe.vsidx
.vs/jluna/FileContentIndex/df1c7072-5f91-4dde-b4a4-502731eea2ec.vsidx
.vs/jluna/FileContentIndex/fd9b8183-7867-4329-b115-d4778362fce2.vsidx
.vs/jluna/FileContentIndex/read.lock
.vs/jluna/v17/.wsuo
.vs/jluna/v17/Browse.VC.db
.vs/jluna/v17/Browse.VC.db-shm
.vs/jluna/v17/Browse.VC.db-wal
.vs/jluna/v17/Browse.VC.opendb
.vs/jluna/v17/ipch/AutoPCH/5e8fd02505554f19/JLUNA.ipch
.vs/jluna/v17/ipch/AutoPCH/638a4788cb7c59d/TEMP.ipch
.vs/jluna/v17/ipch/AutoPCH/7c42069dff1ac9f/COMMON.ipch
.vs/jluna/v17/ipch/AutoPCH/a602c16faad5c33b/MODULE.ipch
.vs/jluna/v17/ipch/AutoPCH/b59dbeddb1b98853/PROXY.ipch
.vs/jluna/v17/ipch/AutoPCH/c28817805fa3c9f6/BOX.ipch
.vs/jluna/v17/ipch/AutoPCH/d01a93e8e3b76c51/MAIN.ipch
.vs/jluna/v17/ipch/AutoPCH/d87f56f93c244a4d/SAFE_UTILITIES.ipch
.vs/jluna/v17/ipch/AutoPCH/d8bfb36afe413ada/CPPCALL.ipch
.vs/launch.vs.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
CMakeSettings.json
.vs/jluna/FileContentIndex/2b9c41cd-9a10-4bf5-8078-43268d0b0538.vsidx
.vs/jluna/FileContentIndex/d4aaaf7e-7bf8-4700-bf63-09f3fc730704.vsidx
.vs/jluna/FileContentIndex/945879a2-8f2d-490a-9ead-515649ac3845.vsidx
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-730f770546926ed07ea7.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-3052fc610b4201a61068.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-a5b52609b48f4815146f.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-e32b83bf4d9ae1b4f5c3.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2023-02-19T22-09-57-0049.json
out/build/x64-Debug/.cmake/api/v1/reply/target-Continuous-Debug-85fbe3c6121865d0fcc6.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ContinuousBuild-Debug-4325345eee6b9c00b114.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ContinuousConfigure-Debug-53d08131505ca057a378.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ContinuousCoverage-Debug-1e4ad152e163fe307c71.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ContinuousMemCheck-Debug-dd961c50fddbb6548c3e.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ContinuousStart-Debug-39a66f747dea4e2007f2.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ContinuousSubmit-Debug-f056ce69347d33934f36.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ContinuousTest-Debug-1a632944f27663f35390.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ContinuousUpdate-Debug-d7bc7c975955793bc23b.json
out/build/x64-Debug/.cmake/api/v1/reply/target-Experimental-Debug-0a394d2c1595a1712a88.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ExperimentalBuild-Debug-6735ef40782e7f4b0b01.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ExperimentalConfigure-Debug-fd3a0e9fbfeaf1a10806.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ExperimentalCoverage-Debug-1319cbf794d73e9dbddf.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ExperimentalMemCheck-Debug-64fe8c02d5fcbe9a8451.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ExperimentalStart-Debug-edccdd81b06ac026daba.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ExperimentalSubmit-Debug-f141cb070819c8138b84.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ExperimentalTest-Debug-780b40d35f760d7c0fdb.json
out/build/x64-Debug/.cmake/api/v1/reply/target-ExperimentalUpdate-Debug-204e06982c186f5ce0f5.json
out/build/x64-Debug/.cmake/api/v1/reply/target-jluna-Debug-8edd00d08d9caddf3a4b.json
out/build/x64-Debug/.cmake/api/v1/reply/target-jluna_test-Debug-f855ce4ec2157baaeb37.json
out/build/x64-Debug/.cmake/api/v1/reply/target-Nightly-Debug-222528615230d7e3cd53.json
out/build/x64-Debug/.cmake/api/v1/reply/target-NightlyBuild-Debug-519231783153b945366f.json
out/build/x64-Debug/.cmake/api/v1/reply/target-NightlyConfigure-Debug-7c7480702a5d3c9c341b.json
out/build/x64-Debug/.cmake/api/v1/reply/target-NightlyCoverage-Debug-db312ac5a18bbb9a54f7.json
out/build/x64-Debug/.cmake/api/v1/reply/target-NightlyMemCheck-Debug-7eb6d642773ef4a94af7.json
out/build/x64-Debug/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-0ee5c1bb6800d7d06e1a.json
out/build/x64-Debug/.cmake/api/v1/reply/target-NightlyStart-Debug-7697d10ae56bc0d79be8.json
out/build/x64-Debug/.cmake/api/v1/reply/target-NightlySubmit-Debug-ea516074634822be24e2.json
out/build/x64-Debug/.cmake/api/v1/reply/target-NightlyTest-Debug-261fb7df9db426df9236.json
out/build/x64-Debug/.cmake/api/v1/reply/target-NightlyUpdate-Debug-4c47dae57937f797063d.json
out/build/x64-Debug/.cmake/api/v1/reply/target-temptest-Debug-a7f2c92a50e12ea7307c.json
out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-4d976b35f77f36882d8d.json
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/build.ninja
out/build/x64-Debug/cmake_install.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/CheckLibraryExists/CheckFunctionExists.cxx
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/CMakeError.log
out/build/x64-Debug/CMakeFiles/CMakeOutput.log
out/build/x64-Debug/CMakeFiles/Export/431c35fdf4c1bdbcfdd680b86a3b8089/jluna-targets-debug.cmake
out/build/x64-Debug/CMakeFiles/Export/431c35fdf4c1bdbcfdd680b86a3b8089/jluna-targets.cmake
out/build/x64-Debug/CMakeFiles/jluna.dir/.src/c_adapter.cpp.obj
out/build/x64-Debug/CMakeFiles/jluna.dir/.src/exceptions.cpp.obj
out/build/x64-Debug/CMakeFiles/jluna.dir/.src/generator_expression.cpp.obj
out/build/x64-Debug/CMakeFiles/jluna.dir/.src/module.cpp.obj
out/build/x64-Debug/CMakeFiles/jluna.dir/.src/mutex.cpp.obj
out/build/x64-Debug/CMakeFiles/jluna.dir/.src/proxy.cpp.obj
out/build/x64-Debug/CMakeFiles/jluna.dir/.src/safe_utilities.cpp.obj
out/build/x64-Debug/CMakeFiles/jluna.dir/.src/symbol.cpp.obj
out/build/x64-Debug/CMakeFiles/jluna.dir/.src/type.cpp.obj
out/build/x64-Debug/CMakeFiles/jluna.dir/.src/unsafe_utilities.cpp.obj
out/build/x64-Debug/CMakeFiles/jluna.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/jluna.dir/exports.def
out/build/x64-Debug/CMakeFiles/jluna.dir/exports.def.objs
out/build/x64-Debug/CMakeFiles/jluna.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/jluna.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/jluna.dir/manifest.res
out/build/x64-Debug/CMakeFiles/jluna.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/jluna_test.dir/.test/main.cpp.obj
out/build/x64-Debug/CMakeFiles/jluna_test.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/jluna_test.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/jluna_test.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/jluna_test.dir/manifest.res
out/build/x64-Debug/CMakeFiles/jluna_test.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/rules.ninja
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
out/build/x64-Debug/CMakeFiles/temptest.dir/.test/temp.cpp.obj
out/build/x64-Debug/CMakeFiles/temptest.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/temptest.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/temptest.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/temptest.dir/manifest.res
out/build/x64-Debug/CMakeFiles/temptest.dir/vc140.pdb
out/build/x64-Debug/CPackConfig.cmake
out/build/x64-Debug/CPackSourceConfig.cmake
out/build/x64-Debug/CTestTestfile.cmake
out/build/x64-Debug/DartConfiguration.tcl
out/build/x64-Debug/jluna-config-version.cmake
out/build/x64-Debug/jluna.dll
out/build/x64-Debug/jluna.exp
out/build/x64-Debug/jluna.ilk
out/build/x64-Debug/jluna.lib
out/build/x64-Debug/jluna.pdb
out/build/x64-Debug/jluna_test.exe
out/build/x64-Debug/jluna_test.ilk
out/build/x64-Debug/jluna_test.pdb
out/build/x64-Debug/temptest.exe
out/build/x64-Debug/temptest.ilk
out/build/x64-Debug/temptest.pdb
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/VSInheritEnvironments.txt
*.vsidx
/out/build/x64-Debug/.cmake/api/v1/reply
/enc_temp_folder
/.vs/jluna
.vs/slnx.sqlite-journal
